@model IEnumerable<LaiteHallintaSovellus.Models.Laitteet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tyyppi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Malli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valmistaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sarjanumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hankinta_Pvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Takuu_Aika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QR_Koodi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tyyppi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Malli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valmistaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sarjanumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hankinta_Pvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Takuu_Aika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QR_Koodi)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.Laite_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Laite_ID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.Laite_ID }) |
            @Html.ActionLink("Lisää ohjelma", "AddSoftware", new { id = item.Laite_ID }) |
            @Html.ActionLink("Lisää sijainti", "AddLocation", new { id = item.Laite_ID })

        </td>
    </tr>
}

</table>
