@model IEnumerable<LaiteHallintaSovellus.Models.Asennukset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Laitteet.Tyyppi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ohjelmat.Ohjelma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Laitteet.Tyyppi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ohjelmat.Ohjelma)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsennusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsennusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsennusID })
        </td>
    </tr>
}

</table>
